*model*/
.DS_STORE

# Byte-compiled / optimized / DLL files
*/__pycache__/*
workspace
*.py[cod]
*$py.class
*.swp
*.swo
*.lock

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

*.ipynb_checkpoints

**/.ipynb_checkpoints


# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

**/__pycache__

*.yml
*.ipynb

# specific directory
gt
lightning_logs
models
saved_models
train
val
wandb
.zshrc
License

src/fail
src/trainer_1.py
engine.ipynb
dataset_1.py
dataset1







